
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home 
{
  height:610px;
  width: 100%;
  background-position: center;
  margin-top: -30px;
}
.contact
{
  height:610px;
  width: 100%;
  background-position: center;
  margin-top: -30px;
}
h1
{
  text-align: center;
}
.h1
{
  text-align: center;
  top: 220px;
  left: 650px;
  color: white;
  font-size: 80px;
  position: absolute;
}
#ul 
{
  
  list-style: none;
  height: 80px;
  margin-top: 0;
  background-color: #61dafb;
  
  
}
main img:hover
{
  transform-origin: 1;
  transform:rotate(20deg);
  transition: 1s;
}



