.Ap
{
 height: 300px;
 width: 300px;
 margin-top: 80px;
 margin-left: 180px;
 
}
.ul 
{
  
  list-style: none;
  height: 80px;
  background-color: #26c811;
  border: 5px dotted black;
}
.ul li
{
    color: white;
}